/*Página responsiva fluída e híbrida*/

/*Importa a fonte de letra externa*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

/* Propriedades que serão aplicados a todos os elementos da página.*/
* {
    /* Remove a margem externa e interna, remove a borda, de todos os lados do elemento.*/
    margin: 0;
    padding: 0;
    border: 0;

    /* O preenchimento e a borda não serão incluídos na largura e na altura. */
    box-sizing: 0;

    /* Configurações gerais da fonte, tipo, cor e tamanho. */
    font-family: "Red Hat Display", Arial;
    color: #616161;
    font-size: 14px;
}

body {
    /* Define a largura do elemento, neste caso 100% da tela na horizontal, largura.*/
    width: 100%;

    /* Altura do elemento. Unidades de tamanho da tela vh e vw. */
    height: 100vh;

    /*Define que os seus filhos sejam flex-itens e torna o elemento em flex contaier*/
    display: flex;

    /*Os elementos são distribuídos ao longo do eixo transversal (horizontal) do container*/
    align-items: center;

    /*alinhar os elementos ao longo do eixo principal, direção ( row ou column ) é definida a partir da propriedade flex-direction*/
    justify-content: center;

    /*fundo*/
    background: #E5E5E5;
}

form {
    margin: 0 auto;
    flex: wrap;
    width: min-content;
    height: min-content;
    min-width: 550px;
    max-width: 1100px;
    background: #ECF0F3;

    /*Define a borda aredondada*/
    border-radius: 30px;

    /*Define a sombra do elemento*/
    box-shadow: -8px -8px 12px #F8FBFF, 8px 8px 12px #B5BBC2;
}

fieldset {
    width: 100%;
    display: inline-flex;
    height: fit-content;
}

.container {
    padding-left: 25px;
    padding-bottom: 15px;
    width: 100%;
}

input {
    width: calc(100% - 50px);
    height: 25px;
    padding-left: 20px;
    background: #ECF0F3;
    font-size: small;
    border-bottom: 1px #979797;
    border-style: solid;
}

em {
    color: #ff6961;
}

h1 {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    color: #513ECF;
    width: max-content;
    font-family: "Helvetica";
    font-weight: bolder;
}

h4 {
    text-align: right;
    margin-right: 25%;
}

span {
    margin-left: 75%;
    font-size: smaller;
    width: max-content;
}

#genero {
    display: block;
    width: 225px;
    justify-content: space-between;
    font-size: 14px;
}

#genero [type="radio"] {
    width: fit-content;
    height: fit-content;
    /*accent-color: #513ECF;*/
    /*transform: scale(0.85);*/
}

#dataNascimento {
    width: 225px;
    display: inline-block;
}

.botao {
    margin: 0 auto;
    display: block;
    width: fit-content;
    height: fit-content;
    margin-top: 15px;
    margin-bottom: 15px;
}

.botao input {
    padding: 0;
    font-style: normal;
    border: none;
    width: 150px;
    height: 40px;
    font-weight: 700;
    border-radius: 32px;
    color: white;
    background: #513ECF;
    box-shadow: -6px -4px 15px #FFFFFF, 4px 4px 15px #C4C4C4;

    /*Muda o tipo do ponteiro do mouse*/
    cursor: pointer;
}

#novaSenha {
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}

.possuiConta,
.possuiConta a {
    text-align: center;
    font-size: 12px;
}

.possuiConta a {
    color: #513ECF;
}

/*Cadastro Instituição*/

.colunas {
    width: 1100px;
    height: max-content;
    /*
    position: absolute;
    width: 1100px;
    height: 600px;
    */
}

.coluna-esquerda,
.coluna-direita {
    width: 50%;
    float: left;
}

.coluna-direita input {
    display: inline-flex;
    max-width: 550px;
}

#num.container,
#cep.container {
    width: 170px;
}

#estado.container {
    width: fit-content;
}

/*Cadastro Curso*/

textarea {
    width: 95%;
    display: block;
}