@import	url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

:root {
	
	--fonte-primaria: "Red Hat Display", Helvetica, Arial; 
	--texto-tamanho-pequeno: 13px;
	--texto-tamanho-medio: 20px;
	--cor-texto-preto: #000000;
	--cor-branco: #FFFFFF;
	--cor-vermelho: #F9665E;
	--cor-cinza-primaria: #EEF1F9;
	--cor-roxa-secundaria: #690AC2;
	--cor-azul-secundaria: #0D19A3;
	--tamanho-maximo-largura: 1250px;
	--formulario-tamanho-largura: 930px;
	--formulario-tamanho-altura: 604px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--fonte-primaria);
}

body {
	background-color: var(--cor-cinza-primaria);
}

form {
	background-color: var(--cor-branco);
	width: var(--formulario-tamanho-largura);
	height: var(--formulario-tamanho-altura);
}

h1 {
	text-align: center;
	color: var(--cor-texto-preto);
}

em {
	color: var(--cor-vermelho);
}

input {
	
	padding: 10px;
	width: 100%;
	font-size: 17px;
	border: 1px solid #aaaaaa;
}

input.invalid {
	background-color: #ffdddd;
}

.aba {
	display: none;
}

button {
	
	background-color: var(--cor-roxa-secundaria);
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	font-size: 17px;
	cursor: pointer;
}

button:hover {
	opacity: 0.8;
}

#botao-voltar {
	background-color: #bbbbbb;
}

.passos{
	
	text-align:center;
	margin-top:40px;
}

.passo {
	height: 15px;
	width: 15px;
	margin: 0;
	background-color: var(--cor-branco);
	border: 2px solid var(--cor-roxa-secundaria);
	border-radius: 50%;
	display: inline-block;
}

.passo.active {
	background-color: var(--cor-roxa-secundaria);
}

.passo.finish {
	background-color: var(- -cor-roxa-secundaria);
}