@import	url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

:root {
	
	--fonte-primaria: "Red Hat Display", Helvetica, Arial; 
	
	--texto-tamanho-pequeno: 13px;
	--texto-tamanho-medio: 20px;
	
	--cor-texto-preto: #000000;
	--cor-branco: #FFFFFF;
	--cor-vermelho: #F9665E;
	--cor-cinza-primaria: #EEF1F9;
	--cor-roxa-secundaria: #690AC2;
	--cor-azul-secundaria: #0D19A3;
	--cor-fucsia-terciaria: #A733FF;
	
	--tamanho-maximo-largura: 1250px;
	--formulario-tamanho-largura: 930px;
	--formulario-tamanho-altura: 604px;
	
	--raio-borda: 15px;
	--grossura-borda: 3px solid;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--fonte-primaria);
}

body {
	background-color: var(--cor-cinza-primaria);
}

form {
	background-color: var(--cor-branco);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}

h1,h2 {
	text-align: center;
	color: var(--cor-texto-preto);
	font-weight: bold;
}

em {
	color: var(--cor-vermelho);
}

a{
	text-decoration: none;
	font-weight: bold;
}

input {
	
	padding: 10px;
	width: 100%;
	font-size: 17px;
	border: 3px solid var(--cor-roxa-secundaria);
	border-radius: var(--raio-borda);
}

input.invalid {
	background-color: #ffdddd;
}

.aba {
	display: none;
}

button {
	background-color: var(--cor-roxa-secundaria);
	color: #ffffff;
	border-radius: var(--raio-borda);
	padding: 10px 20px;
	font-size: 17px;
	cursor: pointer;
	border-style: none;
}

button:hover{
	opacity: 0.8;
}

#botao-voltar {
	background-color: #690AC2;;
}

#botao-proximo{
	background: linear-gradient(180deg, #B18DFF 0%, #690AC2 100%);
}

.passos{
	text-align:center;
	margin-top:40px;
}

.passo{
	height: 15px;
	width: 15px;
	margin: 0 1px;
	background-color: var(--cor-branco);
	border: 2px solid var(--cor-roxa-secundaria);
	border-radius: 50%;
	display: inline-block;
}

.passo.active {
	background-color: var(--cor-roxa-secundaria);
}

.passo.finish {
	background-color: var(- -cor-roxa-secundaria);
}

#botao-entrar {
	background: linear-gradient(180deg, #D0BBFF 0%, #5271FF 0.01%, #A733FF 100%);
}

#input-login{
	border: 3px solid #A733FF;
}

#a-aluno{
	color: var(--cor-roxa-secundaria);
	font-weight: bolder;
}

#a-instituicao{
	color: var(--cor-azul-secundaria);
	font-weight: bolder;
}
.avatar{

border-radius: var(--raio-borda);
border: 2px solid var(--cor-roxa-secundaria);
}

.avaliacao{

border-radius: var(--raio-borda);
border: 2px solid var(--cor-roxa-secundaria);
margin-bottom: 10px;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(242, 242, 242);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: rgb(221, 221, 221);
}

.dropdown:hover .dropdown-content {
	display: block;
}

input {
	padding: 10px;
	width: 100%;
	font-size: 17px;
	border-radius: var(--raio-borda);
}

input.invalid {
	background-color: var(--cor-vermelho-erro);
}

.input-campo {
	width: 160px;
	height: 50px;
	border: 3px solid var(--cor-roxa-secundaria);
	border-radius: var(--raio-borda);
	background-color: #e6e8ec;
}

.input-campo:hover{
	text-decoration: none;
	
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 15px;
	max-width: var(--tamanho-maximo-largura);
	margin: 0 auto;
	flex-wrap: wrap;
	margin-bottom: 2em;
}

.filtro {
	width: var(--tamanho-maximo-largura);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 4em;
}

select {
	color: var(--cor-roxa-secundaria);
}

.nav-lista {
	display: flex;
	flex-wrap: wrap;
	width: 930px;
	justify-content: space-between;
	align-items: center;
}

.nav-link {
	/*(superior, inferior) e (esquerda e direita)*/
	font-weight: bold;
}

.menu-logo [alt=logo] {
	width: 235px;
	height: 80px;
}

.nav-link-perfil {
	width: 40px;
	height: 40px;
	border-color: var(--cor-roxa-secundaria);
	border-style: solid;
	border-width: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--raio-borda);
}

#imagem-perfil {
	display: block;
	margin: 0 auto;
	width: 27px;
	height: 27px;
}

.aba {
	display: none;
}

button {
	border-radius: var(--raio-borda);
	padding: 10px 20px;
	font-size: 17px;
	cursor: pointer;
}

button:hover {
	opacity: 0.8;
}

#botao-buscar {
	width: 220px;
	height: 50px;
	background: linear-gradient(180deg, #B18DFF 0%, #690AC2 100%);
	box-shadow: 0px 4px 16px #D6DBE3;
	border: none;
	border-radius: var(--raio-borda);
	color: var(--cor-branco);
}

.paleta-cor-instituicao {
	background-color: var(--cor-azul-secundaria);
	color: var(--cor-branco);
	border: none;
}

#botao-proximo {
	background: linear-gradient(180deg, #0D19A3 0%, #070C4B 100%);
	box-shadow: 0px 4px 16px #D6DBE3;
}

.borda-insticuicao-azul {
	border: 3px solid var(--cor-azul-terciario);
}

.passos {
	text-align: center;
	margin-top: 40px;
}

.passo {
	height: 15px;
	width: 15px;
	margin: 0 1px;
	background-color: var(--cor-branco);
	border: 2px solid var(--cor-roxa-secundaria);
	border-radius: 50%;
	display: inline-block;
}

.passo.active {
	background-color: var(--cor-roxa-secundaria);
}

.passo.finish {
	background-color: var(- -cor-roxa-secundaria);
}

/*Card*/

.destaques {
	width: var(--tamanho-maximo-largura);
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.card-conteudo {
	border-radius: 15px;
	width: 220px;
	height: 305px;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
	border: 3px solid var(--cor-roxa-secundaria);
	background-color: var(--cor-branco);
}

.imagem-card {
	/*(superior, inferior) e (esquerda e direita)*/
	margin: 25px 0px 0px 15px;
	width: 150px;
	height: 80px;
	display: block;
}


a .card-links {
	font-weight: bold;
	text-decoration: none;
}

.nome-curso {
	margin: 0 auto;
	text-align: center;
	font-weight: bolder;
}

.avaliacao {
	display: inline-block;
}

.avaliacao-container {
	direction: rtl !important;
}

.label-estrela {
	display: inline-block;
	margin: 15px 0;
	color: #d4d4d4;
	cursor: pointer;
	font-size: 40px;
	transition: color 0.2s;
}

.input-estrela {
	display: none;
}

.label-estrela:hover,
.label-estrela:hover~.label-estrela,
.input-estrela:checked~.label-estrela {
	color: var(--cor-amarelo-secundario);
}


.rodape {
	width: var(--tamanho-maximo-largura);
	margin: 0 auto;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	font-size: var(--texto-tamanho-pequeno);
	list-style: none;
	color: var(--cor-texto-preto);
}

#rodape-fim {
	text-align: center;
}

.imagem-logo {
	width: 125px;
	height: 45px;
}
