@import	url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

:root {
	
	--fonte-primaria: "Red Hat Display", Helvetica, Arial; 
	
	--texto-tamanho-pequeno: 13px;
	--texto-tamanho-medio: 20px;
	
	--cor-texto-preto: #000000;
	--cor-branco: #FFFFFF;
	--cor-vermelho: #F9665E;
	--cor-cinza-primaria: #EEF1F9;
	--cor-roxa-secundaria: #690AC2;
	--cor-azul-secundaria: #0D19A3;
	--cor-fucsia-terciaria: #A733FF;
	
	--tamanho-maximo-largura: 1250px;
	--formulario-tamanho-largura: 930px;
	--formulario-tamanho-altura: 604px;
	
	--raio-borda: 15px;
	--grossura-borda: 3px solid;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--fonte-primaria);
}

body {
	background-color: var(--cor-cinza-primaria);
}

form {
	background-color: var(--cor-branco);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	width: var(--formulario-tamanho-largura);
	height: var(--formulario-tamanho-altura);
}

h1,h2 {
	text-align: center;
	color: var(--cor-texto-preto);
	font-weight: bold;
}

em {
	color: var(--cor-vermelho);
}

a{
	text-decoration: none;
	font-weight: bold;
}

input {
	
	padding: 10px;
	width: 100%;
	font-size: 17px;
	border: 3px solid var(--cor-roxa-secundaria);
	border-radius: var(--raio-borda);
}

input.invalid {
	background-color: #ffdddd;
}

.aba {
	display: none;
}

button {
	background-color: var(--cor-roxa-secundaria);
	color: #ffffff;
	border-radius: var(--raio-borda);
	padding: 10px 20px;
	font-size: 17px;
	cursor: pointer;
	border-style: none;
}

button:hover{
	opacity: 0.8;
}

#botao-voltar {
	background-color: #690AC2;;
}

#botao-proximo{
	background: linear-gradient(180deg, #B18DFF 0%, #690AC2 100%);
}

.passos{
	text-align:center;
	margin-top:40px;
}

.passo{
	height: 15px;
	width: 15px;
	margin: 0 1px;
	background-color: var(--cor-branco);
	border: 2px solid var(--cor-roxa-secundaria);
	border-radius: 50%;
	display: inline-block;
}

.passo.active {
	background-color: var(--cor-roxa-secundaria);
}

.passo.finish {
	background-color: var(- -cor-roxa-secundaria);
}

#botao-entrar {
	background: linear-gradient(180deg, #D0BBFF 0%, #5271FF 0.01%, #A733FF 100%);
}

#input-login{
	border: 3px solid #A733FF;
}

#a-aluno{
	color: var(--cor-roxa-secundaria);
	font-weight: bolder;
}

#a-instituicao{
	color: var(--cor-azul-secundaria);
	font-weight: bolder;
}